@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #B91C1C;
    --color-primary-light: #EF4444;
    --color-secondary: #F3F4F6;
    --color-secondary-bg: #000;
    --color-heading: #D1D5DB;
}

[data-theme="light"] {
    --color-primary: #6B7280;
    --color-primary-light: #D1D5DB;
    --color-secondary: #09CEE2;
    --color-secondary-bg: #FFF; /* háttér */
    --color-heading: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    outline: 0;
}

h1, h2, p {
    cursor: default;
}

input[type="button"]{
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0 !important;
}

button::-moz-focus-inner {
    border: 0 !important;
    outline: none !important;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

textarea {
  resize: none;
}

#app {
    background: url('/images/bgimage.jpg') fixed center/cover no-repeat;
    height: 100%;
}

#classes {
    background: url('/images/bgimage2.jpg') fixed center/cover no-repeat;
    height: 100%;
}

.bg-rgba {
    background-color: rgba(0,0,0,0.4);
}

.dropshadow {
    filter: drop-shadow(2px 4px 6px black);
}

.line {
	position: absolute;
	height: 10%;
	width: 100%;
	background:white;
	border-radius:10px;
	transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.line1 {
	top:19%;
}

.line2 {
	top:49%;
}

.line3 {
	top:79%;
}

.toggle-menu.close .line1 {
	transform:rotate(45deg);
	top:49%;
}

.toggle-menu.close .line2, .toggle-menu.close .line3 {
	transform:rotate(-45deg);
	top:49%;
}

/* @media only screen and (max-device-width: 1279px) {
    #app, #classes {
      background-attachment: scroll;
    }
} */
